{% extends 'base.html' %}

{% block content %}

{% if object %}
    <h1>Edit <span class="teal-text">{{ object.name }}</span></h1>
{% else %}
    <h1>Add Recipe</h1>
    <h5>Please separate your ingredients with a comma!</h5>
{% endif %}

<!-- Leaving the action empty makes the form post to the same url used to display it -->
<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
{% if object %}
    <input type="submit" value="Edit Recipe" class="btn">
{% else %}
    <input type="submit" value="Add Recipe" class="btn">
{% endif %}
</form>

{% endblock %}