{% extends 'base.html' %}
{% block content %}

<h1>Recipe Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <!-- Details -->
        <span class="card-title">{{ recipe.name }}</span>
        <p>Serving Size: {{ recipe.serving_size }}</p>
        <p>Ingredients: {{ recipe.ingredients|linebreaks }}</p>
        <p>Description: {{ recipe.description|linebreaks }}</p>
        <p>Directions: {{ recipe.directions|linebreaks }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'recipes_update' recipe.id %}">Edit</a>
        <a href="{% url 'recipes_delete' recipe.id %}">Delete</a>
      </div>
    </div>
      {% for photo in recipe.photo_set.all %}
        <img class="responsive-img card-panel" src="{{photo.url}}">
      {% empty %}
        <div class="card-panel teal-text center-align">No Photos Uploaded</div>
      {% endfor %}
        <form action="{% url 'add_photo' recipe.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
      {% csrf_token %}
      <input type="file" name="photo-file">
      <br><br>
      <button type="submit" class="btn">Upload Photo</button>
    </form>
  </div>
  <div class="row">
    <!-- REVIEW SECTION -->
      <div class="col s6">
        <form action="{% url 'add_review' recipe.id %}" method="POST">
          {% csrf_token %}
          <!-- render inputs -->
          {{ review_form.as_p }}
          <input type="submit" class="btn" value="Comment">
        </form>
        <br>
        <table class="striped">
          <thead>
            <tr><th>Date</th><th>Rating</th><th>Comment</th></tr>
          </thead>
          <tbody>
            {% for review in recipe.review_set.all %}
              <tr>
                <td>{{ review.date }}</td>
                <td>{{ review.get_rating_display }}</td>
                <div class="input_field">
                  <td>{{ review.get_comment_display }}</td>
                </div>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
</div>
<!-- Nutrition Label -->
<a href="{% url 'label_create' recipe.id %}">Create Nutrition Label</a>
  

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  const selectEl = document.getElementById('id_rating');
  M.FormSelect.init(selectEl);

  const commentEl = document.getElementById('id_comment');
  $(document).ready(function() {
    $('commentEl').characterCounter();
  });
</script>
{% endblock %}