{% extends 'base.html' %}
{% block content %}

<h1>Recipe List</h1>

<form method="get" class="search">
  <input type="text" name="q" placeholder="Search Recipes">
  <button type="submit">Search</button>
</form>
<br>
{% for recipe in recipes %}
  <a href="{% url 'detail' recipe.id %}">
    <div class="card deep-orange lighten-5">
      <div class="card-content">
        <span class="card-title">{{ recipe.name }}</span>
        <!-- <p><b>Serving Size:</b> {{ recipe.serving_size }}</p>
        <p><b>Ingredients:</b> {{ recipe.ingredients|linebreaks }}</p> -->
        <p><b>Description:</b> {{ recipe.description|linebreaks }}</p>
      </div>
      {% if recipe.user == user %}
      <div class="card-action">
        <a href="{% url 'recipes_update' recipe.id %}">Edit</a>
        <a href="{% url 'recipes_delete' recipe.id %}">Delete</a>
      </div>
      {% endif %}
    </div>
  </a>
{% endfor %}

{% endblock %}