{% extends 'base.html' %}
{% block content %}

<h1>Recipe List</h1>

{% for recipe in recipes %}
  <a href="{% url 'detail' recipe.id %}">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ recipe.name }}</span>
        <p>Serving Size: {{ recipe.serving_size }}</p>
        <p>Ingredients: {{ recipe.ingredients }}</p>
        <p>Description: {{ recipe.description|linebreaks }}</p>
        <!-- Might not need directions here, since it is the index -->
        <p>Directions: {{ recipe.directions|linebreaks }}</p>
      </div>
    </div>
  </a>
{% endfor %}

{% endblock %}