@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
#logo {
    padding-top: 6px;
    scale: .9
}

.navbar-fixed {
  font-size: 48px;
}

body {
  font-family: 'Concert One', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }
  
footer.page-footer {
  font-family: 'Comfortaa', sans-serif;
    padding-top: 0;
    text-align: right;
  }
  